:root {

    --main-color: #F6D267;
    /* Primär CTA, knappar, highlights - soft yolk färg*/
    --background: #FAF8F3;
    /*Neutral bakgrund*/
    --text-icons: #3D3C24;
    /*För text, ikoner, naturlig kontrast*/
    --secondary-color: #d6d6d2;
    /*Divider, sekundär bakgrund, UI-element*/
    --accent-color: #BFCBA8;
    /*Balandsfärg i grafer eller mätare*/
    --hover: #E3B56F;
    /*Sekundär ton, hover, progressindikatorer*/


    /* === TYPOGRAPHY === */
    --font-family-base: 'Jost', 'Roboto', sans-serif;
    /* weight */
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    /* size */
    --font-size-base: 16px;
    --font-size-sm: 0.5rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 2rem;
    --font-header: 3rem;

    --line-height: 1.5;


    /* paddings */

    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 24px;
    --space-section: 40px;
}

body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

img {
    width: 100%;
}

#logo {
    position: relative;
}

#logo img {
    margin-bottom: -40px;
}

h1 {
    font-size: var(--font-header);
    position: absolute;
    top: 9px;
    left: 34px;
    transform: rotateZ(-9deg);
    color: var(--main-color);
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
}

h1::before {
    content: attr(data-text);
    /* kopierar texten från elementet */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.4);
    /* justera offset och blur för inre skugga */
    overflow: hidden;
    clip-path: inset(0);
    /* håller skuggan inom texten */
    pointer-events: none;
    /* så det inte blockerar musinteraktioner */
}

section {
    background: var(--background);
    padding: 0 var(--space-section);
    /* margin-top: auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

#loadingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#loader {
    background: var(--main-color);
    color: var(--text-icons);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    padding: var(--space-4) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    position: relative;
    /* align-items: baseline; */
    overflow: hidden;


}

.loading-animation {
    background-color: #3D3C24;
    padding: var(--space-1);
    animation-name: loadingBar;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    height: 2px;
    width: 0%;
    animation-iteration-count: 1;
    position: absolute;
    bottom: 0px;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }

    /* 25% {
        width: 25%;
    }

    50% {
        width: 50%;
    } */

    100% {
        width: 100%;
    }
}


#pun {
    margin-top: var(--space-3);
    line-height: calc(var(--line-height) * 1.5);
}




#calculatePage {
    display: none;
}

#timerPage {
    display: none;
}