:root {
    --main-color: #F6D267;
    --background: #FAF8F3;
    --text-icons: #797953;
    --secondary-color: #d6d6d2;
    --accent-color: #BFCBA8;
    --hover: #E3B56F;

    --font-family-base: 'Jost', 'Roboto', sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    /* Skalad typografi */
    --font-size-base: 1rem;
    /* 16px */
    --font-size-sm: 0.75rem;
    /* 12px */
    --font-size-lg: 1.25rem;
    /* 20px */
    --font-size-xl: 1.5rem;
    /* 24px */
    --font-size-xxl: 2rem;
    /* 32px */
    --font-header: 2.25rem;
    /* 36px */

    --line-height: 1.5;

    /* Skalad spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 32px;
    --space-8: 40px;
    /* används för sektioner */
    --space-section: var(--space-8);
}

body,
html {
    height: 100%;
    width: 100%;
    background: var(--background);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-base);
}

img {
    max-width: 100%;
    height: auto;
}

#logo {
    position: relative;
}

#logo img {
    margin-bottom: -20px;
}

h1 {
    font-size: var(--font-header);
    position: absolute;
    top: 4px;
    left: 20px;
    transform: rotateZ(-9deg);
    color: var(--main-color);
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3);
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    clip-path: inset(0);
    pointer-events: none;
}

button {
    text-decoration: none;
    color: var(--text-icons);
    border: 2px solid var(--secondary-color);
}

section {
    background: var(--background);
    padding: 0 var(--space-section);
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.loadingPage {
    justify-content: center;
}

#loader {
    background: var(--main-color);
    color: var(--text-icons);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-bold);
    padding: var(--space-3) 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.loading-animation {
    background-color: #3D3C24;
    padding: var(--space-1);
    animation-name: loadingBar;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    height: 2px;
    width: 0%;
    animation-iteration-count: 1;
    position: absolute;
    bottom: 0px;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

#pun {
    margin-top: var(--space-2);
    line-height: var(--line-height);
    font-size: var(--font-size-sm);
    text-align: center;
}

.hiddenTrue {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.hiddenFalse {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s ease;
}

.calculatePage {
    gap: var(--space-4);
    margin-top: -20px;
    justify-content: center;
}

.calculatePage h3 {
    margin-bottom: var(--space-2);
    font-size: var(--font-size-lg);
}

#bigStats {
    background-color: var(--main-color);
    position: relative;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-5);
    padding: var(--space-5);
    font-size: var(--font-size-base);
    color: var(--text-icons);
    margin-bottom: var(--space-4);
}

#bigStats img {
    width: 44%;
    position: absolute;
    top: -63px;
    left: 50%;
    transform: translateX(-50%);
}

#kcal {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xl);
    margin-top: var(--space-8);
}

#hasPF {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: var(--font-size-base);
}

#hasPF div {
    padding: var(--space-2);
}

#hasPF span {
    font-weight: var(--font-weight-bold);
}

#smallStats {
    width: 100%;
    display: flex;
    gap: var(--space-4);
    font-size: var(--font-size-base);
}

ul {
    list-style: none;
    gap: var(--space-1);
    line-height: var(--line-height);
}

li span {
    font-weight: var(--font-weight-bold);
}

.hasOptions {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
}

#haveSizes>div {
    display: flex;
    justify-content: space-between;
    max-width: 65%;
}

#haveSizes button {
    padding: var(--space-1) var(--space-5);
    background-color: transparent;
    border-radius: 20px;
    border-style: solid;
    font-size: var(--font-size-base);
    font-style: normal;
}

#eggCount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF8F3;
    border: 2px solid #d6d6d2;

    max-width: 125px;
    height: 36px;
    box-sizing: border-box;
}

.eggCountBTN {
    background: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #3D3C24;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    /* gör knappen rund */
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
}

#eggcount span {
    font-size: 1.1rem;
    color: #3D3C24;
    pointer-events: none;
    user-select: none;
}



.readyButton {
    border: 2px solid var(--secondary-color);
    width: fit-content;
    padding: var(--space-1) var(--space-4);
    margin: auto;
    border-radius: 20px;
    color: var(--text-icons);
}

.timerPage {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    justify-content: center;
    padding-top: var(--space-4);
    color: var(--text-icons);
}

.timer {
    text-align: center;
    place-content: center;
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    letter-spacing: 0.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.boilOptions {
    position: relative;
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.boilOptions img {
    width: 80px;
    right: 59px;
    bottom: -20px;
}

.boilOption {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: var(--space-4);
    font-size: var(--font-size-base);
    background-color: var(--secondary-color);
    border-radius: 16px;
    padding: 0 var(--space-4) 0 0;
    /* width: 50%; */
    margin: var(--space-2) auto;
    min-width: 60%;
}


img.hard,
img.med {
    bottom: -24px;
}

#boilingEggImage {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}

footer {
    /* margin-top: var(--space-6); */
    font-size: var(--font-size-xl);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--space-3);
    place-content: center;
}

.calculatePage footer {
    bottom: -25px;
}

#cook {
    background-color: var(--main-color);
    color: var(--text-icons);
    padding: var(--space-2) var(--space-4);
    display: flex;
    align-items: center;
    gap: var(--space-2);
    border-radius: 20px;
    width: fit-content;
    margin: auto;
    font-weight: var(--font-weight-bold);
}

/* #cook:active {
    border: initial;
} */

footer img {
    width: 36px;
    color: var(--text-icons);
}

.readyButton:active {
    background-color: var(--main-color);
    border-color: var(--text-icons);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(250, 248, 243, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popupContent {
    background-color: var(--secondary-color);
    border-radius: 20px;
    padding: var(--space-5);
    width: 80%;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    font-size: var(--font-size-base);
    color: var(--text-icons);
}

.popupButtons {
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-4);
}

.popupButtons button {
    padding: var(--space-2) var(--space-4);
    border: none;
    border-radius: 12px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-base);
    width: 40%;
    background-color: var(--main-color);
    color: var(--text-icons);
}


#boilTypePopup .popupButtons,
#sizeTypePopup .popupButtons {
    justify-content: center;
}


#donePopup .popupContent {
    animation: popIn 0.4s ease;
}

#donePopup img {
    margin-bottom: -17px;
    margin-top: -46px;
}

#confirmDone {
    margin-left: auto;
    margin-right: auto;
}

@keyframes popIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}


.marked {
    border: 2px solid var(--main-color);
    font-weight: var(--font-weight-bold);
    background-color: transparent;
}